// Dev specific
#__bs_notify__ { position: fixed; top: 50%; left: 50%; margin-left: -125px !important; width: 250px; border-radius: 0 !important; opacity: 0.5; }

// Template
body {
  color: $text;
  background: white;
}