// COLORS
  $white: #FFF;
  $black: #000;

  $brand: #00DCB3;
  $brand2: #99F1E1;
  $blue: #003761;
  $orange: #FF470D;
  $footer: #E9ECF2;

  $text: #414B68;
  $border: darken($white, 8%);

  $success: #A7C520;
  $error: #CD2C24;
  $warning: #FFB03B;

  $facebook: #3B5997;
  $twitter: #4099FF;

// TYPE
  // @include font-face("metric-bold", "../../assets/fonts/MetricWeb-Bold");
  // @include font-face("metric-regular", "../../assets/fonts/MetricWeb-Regular");

  $font-size: 16px;
  $line-height: 1.5;

  $body-font: Arial, Helvetica, sans-serif;

  $thin: 100;
  $light: 300;
  $regular: 400;
  $mediumbold: 500;
  $semibold: 600;
  $bold: 700;
  $ultra: 900;

  $xxsmall: em(10px);
  $xsmall: em(12px);
  $small: em(14px);
  $medium: em(16px);
  $large: em(18px);
  $xlarge: em(20px);
  $xxlarge: em(24px);
  $slider: em(54px);
  $title: em(32px);
  $article: em(48px);
  $articlebody: 19px;

// DEFAULTS
  body { font: #{$font-size}/#{$line-height} $body-font; }
  img { max-width: 100%; height: auto; }

  .center { @include outer-container; max-width: $content-max-width; padding-left: 10px; padding-right: 10px;
    &--wide { @extend .center; @include outer-container; }
  }
  .clearfix { @include clearfix; }

  ::selection { background: darken($white, 20%); text-shadow: none; }
